<template>
    <div class="home">

        <slider></slider>

        <div class="ultimas_noticias">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 text-left">Últimas Noticias</div>
                    <div class="col-lg-10 text-left">
                        <swiper>
                            <swiper-slide v-for="lastpost in lastpostss" :id="'post-'+lastpost.id">
                                <div v-html="lastpost.title.rendered"></div>
                            </swiper-slide>
                        </swiper>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="content_main">

                <div class="row">

                    <div class="col-lg-6 col-xs-12">

                        <div class="noti_home box">

                            <div class="item" v-for="(lastpost, index) in lastposts" v-if="index <= 0">
                                <div class="categoria bg_deportes">nacionales</div>
                                <div class="picture" v-for="gal in lastpost.acf.imagen_principal">
                                    <img :src="gal.sizes.large" class="img-fluid" alt="">
                                </div>
                                <div class="tenor">
                                    <h3 class="text-left">
                                        <router-link :to="lastpost.slug" v-html="lastpost.title.rendered" ></router-link>
                                    </h3>
                                    <div v-html="lastpost.acf.extracto_de_noticia" class="text-left extracto"></div>
                                </div>
                            </div>

                            <div class="item box_m" v-for="(lastpost, index) in lastposts" v-if="index >= 1">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="picture" v-for="gal in lastpost.acf.imagen_principal">
                                            <img :src="gal.sizes.large" class="img-fluid" alt="">
                                        </div>
                                    </div>
                                    <div class="col-6 text">
                                        <h3 class="text-left">
                                            <router-link :to="lastpost.slug" v-html="lastpost.title.rendered"></router-link>
                                        </h3>
                                        <div v-html="lastpost.acf.extracto_de_noticia" class="extracto text-left"></div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="video_facebook box">
                            <div class="categoria bg_facebookenvivo">facebook en vivo</div>
                            <div class="picture" v-for="fb in postfbs">
                                <img :src="gal.sizes.large" class="img-full" v-for="gal in fb.acf.imagen_principal">
                            </div>
                            <div class="tenor tenor_destacados" v-for="fb in postfbs">
                                <h3 class="text-left">
                                    <router-link :to="fb.slug" v-html="fb.title.rendered"></router-link>
                                </h3>
                                <div v-html="fb.acf.extracto_de_noticia" class="extracto text-left">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-6 col-xs-12">

                        <div class="row">

                            <div class="col-lg-6">

                                <div class="noti_home box">
                                    <div class="item item_one" v-for="(post, index) in lastposts" v-if="index <= 0">
                                        <div class="picture" v-for="gal in post.acf.imagen_principal">
                                            <img :src="gal.sizes.large" class="img-fluid">
                                        </div>
                                        <div class="text">
                                            <h3 class="text-left">
                                                <router-link :to="post.slug">{{ post.title.rendered }}</router-link>
                                            </h3>
                                            <div class="text-justify extracto" v-html="post.acf.extracto_de_noticia"></div>
                                        </div>
                                    </div>
                                    <div class="item item_twitter box_m col-lg-12 col-xs-12">
                                        <div class="col-4 col-sm-3 float-left">
                                            <img src="../assets/svg/twitter.svg" class="img-fluid">
                                        </div>
                                        <div class="col-8 col-sm-9 float-right">
                                            <p class="text-center apostrofe">’’</p>
                                            <p class="texto">Últimas noticias a nivel nacional.</p>
                                            <p class="username">@lima22</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <div class="mas_importantes text-left">
                                    <h2 class="text-center">+ Más importantes</h2>
                                    <div class="item col-12" v-for="(post, index) in lastposts">
                                        <div class="picture" v-for="gal in post.acf.imagen_principal">
                                            <img :src="gal.sizes.large" class="img-fluid" v-if="index == 0">
                                        </div>
                                        <p>
                                            <router-link :to="post.slug" v-html="post.title.rendered"></router-link>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">

                                <div class="noti_home box">

                                    <div class="item text-left" v-for="post in internacionales">
                                        <div class="categoria bg_internacionales">internacionales</div>
                                        <div class="picture" v-for="gal in post.acf.imagen_principal">
                                            <img :src="gal.sizes.large" class="img-fluid">
                                        </div>
                                        <div class="tenor">
                                            <h3>
                                                <router-link :to="post.slug">{{ post.title.rendered }}</router-link>
                                            </h3>
                                            <div class="extracto" v-html="post.acf.extracto_de_noticia"></div>
                                        </div>
                                    </div>

                                    <div class="item box_m" id="salud-belleza">

                                        <div class="col-lg-6 col-xs-12 text-left float-left" v-for="post in saludybelleza">
                                            <div class="row">
                                                <div class="col-lg-12 picture">
                                                    <div class="picture" v-for="gal in post.acf.imagen_principal">
                                                        <img :src="gal.sizes.large" class="img-fluid">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="text">
                                                        <h3>
                                                            <router-link :to="post.slug">{{ post.title.rendered }}</router-link>
                                                        </h3>
                                                        <div class="extracto" v-html="post.acf.extracto_de_noticia"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>

            </div>

            <div class="content-main pd_0_0" id="espectaculos">
                <div class="row">
                    <div class="col-lg-9 col-xs-12" id="slide_espectaculos">
                        <div class="picture" v-for="(post, index) in espectaculos" v-if="index < 1">
                            <img :src="gal.sizes.large" class="img-full" v-for="gal in post.acf.imagen_principal">
                        </div>
                        <div class="categoria bg_espectaculos">espectaculos</div>
                        <div class="tenor tenor_espectaculos tenor_destacados">
                            <h3 v-for="(post, index) in espectaculos" v-if="index < 1" class="text-left">
                                <router-link :to="post.slug" v-html="post.title.rendered"></router-link>
                            </h3>
                            <div v-html="post.acf.extracto_de_noticia" class="extracto text-left" v-for="(post, index) in espectaculos" v-if="index < 1"></div>
                            <hr class="hidden-xs-down">
                            <div class="col hidden-xs-down">
                                <div class="row">
                                    <div class="col" v-for="(post, index) in espectaculos" v-if="index > 0 && index < 4">
                                        <h4>
                                            <router-link :to="post.slug" v-html="post.title.rendered"></router-link>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-xs-12">

                        <div class="noti_home box">
                            <div class="item item_one" v-for="(post, index) in espectaculos" v-if="index > 3 && index < 6">
                                <div class="picture" v-for="gal in post.acf.imagen_principal">
                                    <img :src="gal.sizes.large" class="img-fluid" v-if="gal.sizes.large">
                                    <img src="../assets/img/bg_picture.jpg" class="img-fluid" v-else>
                                </div>
                                <div class="text">
                                    <h3 class="text-left">
                                        <router-link :to="post.slug" v-html="post.title.rendered"></router-link>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

</template>

<script>
    import axios from 'axios';
    import Slider from '../components/Sliderprincipal.vue';

    export default {
      name: 'home',
      mounted: function(){
          this.recuperarNoticiasTop();
      },
      data: () => ({
        title: "GOstartups Network Perú",
        lastposts: [],
        lastpostss: [],
        postfbs: [],
        internacionales: [],
        saludybelleza: [],
        espectaculos: [],
        errors: [],
      }),
      components: {
          Slider
      },
      methods: {
          recuperarNoticiasTop: function(){
              axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?categories=1,4&per_page=4&status=publish`)
              .then(response => {
                  this.lastposts = response.data;
              })
              .catch(e => {
                  this.errors.push(e)
              });
          }
      },
      created() {

          // ULTIMAS NOTICIAS SLIDE
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?status=publish`)
          .then(response => {
              this.lastpostss = response.data
          })
          .catch(e => {
              this.errors.push(e)
          })
          // NOTICIA FACEBOOK
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?categories=10&per_page=1&status=publish`)
          .then(response => {
              this.postfbs = response.data
          })
          .catch(e => {
              this.errors.push(e)
          })
          // NOTICIA INTERNACIONALES
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?categories=8&per_page=1&status=publish`)
          .then(response => {
              this.internacionales = response.data
          })
          .catch(e => {
              this.errors.push(e)
          })
          // NOTICIA SALUD Y BELLEZA
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?categories=9&per_page=2&status=publish`)
          .then(response => {
              this.saludybelleza = response.data
          })
          .catch(e => {
              this.errors.push(e)
          })
          // NOTICIA ESPECTACULOS
          axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts/?categories=6&per_page=6&status=publish`)
          .then(response => {
              this.espectaculos = response.data
          })
          .catch(e => {
              this.errors.push(e)
          })
      },
      head: {
        // To use "this" in the component, it is necessary to return the object through a function
        title: function () {
          return {
            inner: this.title
          }
        }
      }
    }
</script>

<style lang="sass">
    @import "../assets/sass/variables.sass"
</style>

<style lang="sass">

    .ultimas_noticias{
    	font-size: 12px;
    	padding: 12px 0;
    	font-weight: bold;
    	background-color: #f3f4f6;
    	font-family: "Noto Sans", sans-serif;
        .content{
            color: #555555;
        }
    }

    .img-full{
    	width: 100%;
    }

    .pd_0_0{
    	padding: 0 !important;
    }

    .picture{
        padding-left: 0;
        padding-right: 0;
    }

    .content_main{
    	padding: 15px 0 !important;
    }
    	.content_main .box{
    		padding: 15px 0;
    	}

    	.content_main .box_m{
    		margin: 30px 0 0;
    	}

    .categoria{
    	left: 35px;
    	top: 35px;
    	color: #fff;
    	padding: 5px 10px;
    	font-size: 11px;
    	font-weight: 700;
    	letter-spacing: 1px;
    	position: absolute;
    	text-transform: uppercase;
    	font-family: "Noto Sans", sans-serif;
    }
    	.bg_espectaculos{
    		background-color: #48048e;
    	}
    	.bg_facebookenvivo{
    		top: 45px;
    		left: 30px;
        	z-index: 9999;
    		background-color: #2018cc;
    	}
    	.bg_internacionales{
    		top: 35px;
    		left: 30px;
        	z-index: 9999;
    		background-color: #f45a24;
    	}
    	.bg_deportes{
    		top: 35px;
    		left: 30px;
        	z-index: 9999;
    		background-color: #35c302;
    	}

    .tenor{
        bottom: 0;
        left: 0;
        right: 0;
        padding: 20px;
        letter-spacing: 1px;
        position: absolute;
        background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
        background-image: -o-linear-gradient(bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
        background-image: linear-gradient(to top, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    }

    .extracto{
        font-size: 13px;
        font-weight: 400;
        font-family: "Lato", sans-serif !important;
    }

    .tenor_destacados{
        color: #fff;
    	bottom: 15px !important;
        font-family: "Noto Sans", sans-serif;
        h3{
            padding: 5px 0;
            line-height: 22px;
            a{
                color: #fff !important;
                font-size: 20px;
                font-weight: 700;
            }
        }
        .extracto{
            font-size: 14px;
        }
    }

    .tenor_espectaculos{
    	bottom: 0px !important;
    	left: 15px;
    	right: 15px;
    	z-index: 999;
    	padding: 20px;
    	color: #fff;
    	position: absolute;
    	font-family: "Noto Sans", sans-serif;
    	background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    	background-image: -o-linear-gradient(bottom, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
    	background-image: linear-gradient(to top, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
        h3{
            padding: 0 15px;
            line-height: 40px;
            a{
                color: #fff !important;
                display: block;
                font-size: 30px;
                font-weight: 700;
            }
        }
        p{
            font-size: 14px;
            font-weight: 700;
            padding: 0 15px;
        }
        hr{
            margin-left: 15px;
            margin-right: 15px;
            border-top-color: #fff;
        }
        h4{
            line-height: 10px;
            margin-top: 4px;
            a{
                display: block;
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                color: #fff !important;
            }
        }
        .col p{
            padding: 0;
        }
    }

    .noti_home,
	.video_facebook,
	.mas_importantes{
		position: relative;
		float: left;
		width: 100%;
	}

    .noti_home{
        .item{
            float: left;
            color: #fff;
            background: #fff;
            position: relative;
            font-family: "Noto Sans", sans-serif;
            .tenor{
                h3{
                    line-height: 22px;
                    a{
                        color: #fff !important;
                        display: block;
                        font-size: 20px;
                        font-weight: 700;
                        text-shadow: 0 1px 2px #000;
                        font-family: "Noto Sans", sans-serif;
                    }
                }
            }
            .text{
    			padding: 10px 20px 0 10px;
    			color: #555;
                h3{
                    line-height: 16px;
                    margin: 0;
                    a{
                        color: #555 !important;
                        display: block;
                        font-size: 14px;
                        font-weight: 700;
                    }
                }
                .extracto{
                    letter-spacing: .70px;
                    font-size: 13px;
                    line-height: 17px;
                    padding: 10px 10px 0 0;
                    p{
                        margin-bottom: 0;
                    }
                }
    		}
        }
        .item_one{
            .text{
                padding: 20px;
                .extracto{
                    padding-right: 0;
                }
            }
        }
        .item_twitter{
			padding: 20px 0;
			max-height: 220px;
			background: #43b7e2 !important;
            p.apostrofe{
                padding: 20px 0 0;
                font-size: 60px;
                line-height: 0px;
                font-family: 'Noto Serif', serif;
            }
            p{
                font-size: 12px;
                margin-bottom: 5px;
            }
            .username{
                font-size: 14px;
                font-weight: 700;
                letter-spacing: 1px;
                font-family: "Noto Sans", sans-serif;
            }
		}
    }

    .mas_importantes{
		padding: 20px;
		margin: 15px 0;
		max-height: 570px;
		background: #fff;
        h2{
            color: #555;
            font-size: 18px;
            font-weight: 700;
            font-family: "Noto Sans", sans-serif;
        }
        .item p{
            color: #555;
            font-size: 12px;
            font-weight: 400;
            padding: 7px 0;
            font-family: "Noto Sans", sans-serif;
            a{
                color: #555 !important;
            }
        }
	}

    #salud-belleza{
        .text{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    // RESPONSIVE
    // sm: 540px,
    // md: 720px,
    // lg: 960px,
    // xl: 1140px

    @media (max-width: 540px) {
    	.navbar-brand img{
    		width: 180px;
    	}
    	#carouselPrincipal.slide .carousel-inner .carousel-caption{
    		width: 80%;
    		top: initial;
    		bottom: 20px;
    	}
    	#carouselPrincipal.slide .carousel-inner .carousel-caption h3{
    		font-size: 20px;
    		line-height: 28px;
    	}
    	.noti_home .item .tenor h3{
    		line-height: 18px;
    		font-size: 13px;
    	}
    	.noti_home .item .tenor p{
    		font-size: 12px;
    		line-height: 16px;
    	}
    	.noti_home .item .text h3{
    		line-height: 14px;
    	}
    	.noti_home .item .text h3 a{
    		font-size: 14px;
    	}
    	.noti_home .item .text p{
    		font-size: 11px;
    	}
    	.tenor_destacados h3{
    		font-size: 14px;
    		font-weight: 700;
    	}
    	.tenor_destacados p{
    		font-size: 12px;
    	}
    	#slide_espectaculos{
    		margin-bottom: 30px;
    	}
    	.img-fluid{
    		max-width: initial;
    		width: 100%;
    	}
    	.tenor_espectaculos{
    		bottom: 0 !important;
    		letter-spacing: 0;
    	}
    	.tenor_espectaculos h3{
    		line-height: 16px;
    	}
    	.tenor_espectaculos h3 a{
    		font-size: 14px;
    	}
    	.tenor_espectaculos p{
    		font-size: 12px;
    		font-weight: 300 !important;
    	}
    	.foot_left,
    	.foot_middle,
    	.foot_right{
    		text-align: center;
    		margin-bottom: 20px;
    	}
    	.foot_middle,
    	.foot_right{
    		border-left: 0px;
    	}
    }

</style>
