<template>

    <div id="slider">

        <swiper :options="swiperOption">
            <swiper-slide v-for="post in destacados">
                <div class="picture" v-for="gal in post.acf.imagen_principal" :style="'background-image: url('+ gal.sizes.large +')'">
                    <div class="caption">
                        <div class="row align-items-center">
                            <div class="col-lg-12">
                                <h3 class="text-left">
                                    <router-link :to="post.slug" v-html="post.title.rendered"></router-link>
                                </h3>
                                <social-sharing :url="'http://dev.lima22.pe/'+post.slug"
                                    :title="post.title.rendered"
                                    :description="post.acf.extracto_de_noticia"
                                    quote="Vue is a progressive framework for building user interfaces."
                                    hashtags="vuejs,javascript,framework"
                                    twitter-user="vuejs"
                                    inline-template>
                                    <div class="share_swiper">
                                        <network network="email">
                                            <i class="fa fa-envelope"></i>
                                        </network>
                                        <network network="facebook">
                                            <i class="fa fa-facebook"></i>
                                        </network>
                                        <network network="googleplus">
                                            <i class="fa fa-google-plus"></i>
                                        </network>
                                        <network network="twitter">
                                            <i class="fa fa-twitter"></i>
                                        </network>
                                        <network network="whatsapp">
                                            <i class="fa fa-whatsapp"></i>
                                        </network>
                                    </div>
                                </social-sharing>
                            </div>
                        </div>
                    </div>
                </div>
            </swiper-slide>
            <div class="swiper-pagination" slot="pagination"></div>
            <div class="swiper-button-prev" slot="button-prev"></div>
            <div class="swiper-button-next" slot="button-next"></div>
        </swiper>

    </div>

</template>

<script>
    import axios from 'axios';
    export default {
        name: 'slider',
        data: () => ({
          destacados: [],
          errors: [],
          slide: 0,
          swiperOption: {
            pagination: '.swiper-pagination',
            paginationClickable: true,
            nextButton: '.swiper-button-next',
            prevButton: '.swiper-button-prev',
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: 3500,
            autoplayDisableOnInteraction: false,
            hashnav: true,
            effect: 'fade'
          }
        }),
        methods: {
            postDestacados: function(){
                axios.get(`http://manager.lima22.pe/wp-json/wp/v2/posts?sticky=true&per_page=6`)
                .then(response => {
                    this.destacados = response.data
                })
                .catch(e => {
                    this.errors.push(e)
                })
            }
        },
        created() {
            this.postDestacados();
        }
    }
</script>

<style lang="sass">

    #slider{
    	width: 100%;
        margin-top: 150px;

        .swiper-slide{
            height: 100%;
            height: 550px;
    		max-height: 600px;
            position: relative;
            .picture{
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                position: absolute;
                background-size: cover;
        		-o-background-size: cover;
        		-moz-background-size: cover;
        		-webkit-background-size: cover;
        		background-position: center;
        		background-repeat: no-repeat;
            }
            .caption{
                top: 0;
                bottom: 0;
        	    left: 0;
                height: 100%;
        	    width: 40%;
        	    color: #fff;
        	    text-align: left;
                background-image: -webkit-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
                background-image: -o-linear-gradient(left, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
                background-image: linear-gradient(to right, rgba(0,0,0,.8) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0) 100%);
                .row{
                    height: 100%;
                }
                h3{
                    margin: 0 0 20px 0;
                    padding-left: 60px;
                    a{
                        color: #fff;
                		font-size: 38px;
                		font-weight: 800;
                		line-height: 48px;
                	    text-shadow: 0 1px 2px #000;
                        font-family: "Open Sans", sans-serif !important;
                    }
            	}
                p{
                    color: #fff;
                    padding-left: 60px;
                    font-size: 14px;
                    font-weight: 400;
                    letter-spacing: 2px;
                    text-shadow: 0 1px 2px #000;
                    font-family: "Oxygen", sans-serif;
            	}
                a{
            		background-color: transparent !important;
            	}
                .share_swiper{
                    margin-left: 60px;
                    padding-left: 30px;
                    background: url('../assets/svg/share.svg') left center no-repeat;
                    .fa{
                        width: 20px;
                        height: 20px;
                        padding: 6px 4px 4px 6px;
                        font-size: 16px;
                        border-radius: 50px;
                        text-align: center;
                        background: rgba(255,255,255, .1);
                        &:before{
                            color: #fff;
                        }
                    }
                }

        	}
        }

        .swiper-pagination{
            span{
        		height: 12px;
        		border-radius: 50px;
                width: 12px !important;
        		border: 4px #000 solid;
        		background-color: transparent;
            }
            .swiper-pagination-bullet-active{
                border: 3px solid #fff;
        		background-color: transparent;
        	}
        }
    }

    @media (max-width: 540px) {
        #slider{
            margin-top: 82px;
        }
        .caption{
            width: 100% !important;
            .row{
                -webkit-box-align: flex-end !important;
                -webkit-align-items: flex-end !important;
                -ms-flex-align: flex-end !important;
                align-items: flex-end !important;
            }
            h3{
                a{
                    line-height: 28px !important;
                    font-size: 20px !important;
                }
            }
            .share_swiper{
                margin-bottom: 40px;
            }
        }
    }

</style>
